<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Wcalc Version 2.3.1</string>
	<key>CFBundleShortVersionString</key>
	<string>Wcalc 2.3.1</string>
	<key>CFBundleExecutable</key>
	<string>Wcalc</string>
	<key>CFBundleIconFile</key>
	<string>TheW</string>
	<key>CFBundleIdentifier</key>
	<string>Wcalc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Wcal</string>
	<key>CFBundleVersion</key>
	<string>2.3.1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
	    <dict>
		<key>NSMenuItem</key>
		<dict>
		    <key>default</key>
		    <string>Wcalc Compute</string>
		</dict>
		<key>NSMessage</key>
		<string>doWcalcCalculateService</string>
		<key>NSPortName</key>
		<string>WcalcService</string>
		<key>NSReturnTypes</key>
		<array>
		    <string>NSStringPboardType</string>
		</array>
		<key>NSSendTypes</key>
		<array>
		    <string>NSStringPboardType</string>
		</array>
	    </dict>
	</array>
</dict>
</plist>
